#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

#app {
  max-width: 1440px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: black;
  margin-right: auto;
  line-height: 1.5;
}

nav img {
  position: relative;
  left: 10px;
  padding: 5px;
}

.col-md-2 a {
  color: white;
}

.col-md-2 a:hover {
  color: green;
  text-decoration: underline;
}

.bars {
  padding: 3px;
  position: relative;
  right: 100px;
}

.bars a:hover {
  color: green;
}

.ico a {
  margin-right: auto;
  padding: 5px;
  position: relative;
  right: 100px;
}

.form {
  text-align: left;
  width: 60%;
  margin: relative;
  padding: 100px;
}
.form .but {
  background-color: green;
  border-radius: 0%;
  font-size: x-large;
  border-color: green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.form .but:hover {
  background: none;
  border-color: white;
  transform: rotateY(20deg);
}

.call {
  color: green;
}
.call:hover {
  color: green;
}

.cal {
  color: rgb(180, 177, 177);
}
.ca {
  color: black;
}
.ca:hover {
  color: black;
}

.Social-icon-facebook,
.Social-icon-twitter {
  color: navy;
  font-size: x-large;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.Social-icon-linkedin {
  color: blue;
  font-size: x-large;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.Social-icon-youtube {
  color: red;
  font-size: x-large;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.Social-icon-mail {
  color: green;
  font-size: x-large;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.Social-icon-facebook:hover,
.Social-icon-twitter:hover {
  transform: rotateY(180deg);
  color: navy;
}
.Social-icon-linkedin:hover {
  transform: rotateY(180deg);
  color: blue;
}
.Social-icon-youtube:hover {
  transform: rotateY(180deg);
  color: red;
}
.Social-icon-mail:hover {
  transform: rotateY(180deg);
  color: green;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

.contain {
  display: flex;
  background: rgb(250, 239, 250);
}
.side-by-side {
  flex: 1;
  text-align: left;
  margin: 50px;
}

.flink {
  color: green;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
.flink:hover {
  color: green;
  transform: scale(1.1) translate(10px, 0px);
}

.mslink {
  color: green;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
.mslink:hover {
  color: green;
  transform: scale(1.1);
  transform-origin: right;
}

.slink {
  color: white;
  font-size: x-large;
  transition: transform 0.5s ease, color 0.5s ease;
}

.slink:hover {
  transform: rotateY(180deg);
  color: green;
}

.email {
  font-size: large;
  padding: 10px;
}

.land {
  color: green;
}
.landd {
  color: green;
}
.landd:hover {
  color: green;
}
.content {
  display: flex;
  background: white;
  padding: 0px;
  margin: 50px;
}

.head {
  position: relative;
  justify-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px;
  margin-right: 300px;
  margin-left: 300px;
}

.part {
  position: relative;
  width: "60%";
  margin: 50px;
  margin-right: 300px;
  margin-left: 300px;
}

.headd {
  position: relative;
  width: "50%";
  justify-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px;
  margin-top: 100px;
}
.side-by-side-h {
  flex: 1;
  text-align: left;
  border: 1px solid #dbf7db;
  padding: 15px;
  margin: 20px;
}

.side-by-side-h:hover img {
  transform: scale(1.02);
}
.side-by-side-h:hover {
  border: 1px solid #4a794a;
}
.tlink,
.alink {
  color: black;
  padding: 20px;
}
.side-by-side-h:hover .tlink,
.alink {
  color: green;
}

.alink {
  color: black;
  padding: 20px;
}
.content:hover .alink {
  color: green;
}
.next,
.nexta,
.nextb {
  color: black;
  padding: 20px;
}
.side-by-side-hh:hover .next,
.nexta,
.nextb {
  color: green;
}

.mail {
  display: flex;
  /*  get closer input and button */
}

.fcontain {
  display: flex;
  background: rgb(247, 248, 250);
}
.fside-by-side {
  flex: 1;
  text-align: left;
  margin: 50px;
}
.ffside-by-side {
  flex: 1;
  padding: 0%;
}

.next {
  display: flex;
  flex-direction: row;
}
.side-by-side-hh:hover {
  background-color: rgb(232, 250, 249);
}

.side-by-side-hh .btn {
  background: none;
  border-radius: 360%;
  border-color: green;
  font-size: xx-large;
  line-height: 1;
  color: green;
  position: relative;
  left: 180px;
  bottom: 50px;
}

.side-by-side-hh:hover .btn {
  color: white;
  background: green;
}

.side-by-side-f {
  padding: 0px;
  margin: 5px;
}

.filink {
  color: black;
  padding: 20px;
}
.side-by-side-f:hover .filink {
  color: green;
}

.side-by {
  flex: 1;
  width: 400px;
  text-align: left;
  margin: 50px;
  padding: 10px;
  background-color: rgb(243, 232, 218);
}

.side-byy {
  flex: 1;
  text-align: left;
  background-color: green;
  color: white;
  padding: 50px;
  padding-right: 100px;
}

.llink {
  color: white;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
.llink:hover {
  transform: scale(1.1) translate(10px, 0px);
}
.cont {
  display: flex;
  background-color: rgb(243, 232, 218);
}
.bn {
  position: fixed;
  bottom: 20px;
  left: 1250px;
}

.con {
  margin: 100px;
  padding: 200px;
  display: flex;
  filter: grayscale(30%);
  background: rgb(229, 235, 247);
}

.con .fxc {
  font-size: xxx-large;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marqueeAnimation 10s linear infinite;
  scroll-behavior: smooth;
  width: 50%;
}

@keyframes marqueeAnimation {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(flex-direction);
  }
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
